footer{

    h3{
        font-size: 24px;
    }

    .footerContaner{
        display: flex;
        width: 85%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;


        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }

        #github{
            color: black;
            &:hover{
                color: #8155BA;
            }
        }

        #api{
            color: black;
            &:hover{
                color: #00008B;
            }
        }

        #fiverr{
            color: black;
            &:hover{
                color: #76B947;
            }
        }


        
    }
}